output/test_output.png
build/CMakeFiles/detkit.dir/vision.cpp.o.d
build/CMakeFiles/detkit.dir/vision.cpp.o
build/CMakeFiles/detkit.dir/nanodet.cpp.o.d
build/CMakeFiles/detkit.dir/nanodet.cpp.o
build/CMakeFiles/detkit.dir/nano_test.cpp.o.d
build/CMakeFiles/detkit.dir/nano_test.cpp.o
build/CMakeFiles/detkit.dir/flags.make
build/CMakeFiles/detkit.dir/detector.cpp.o.d
build/CMakeFiles/detkit.dir/detector.cpp.o
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeCache.txt
build/DartConfiguration.tcl
build/detkit
output/test_output.png
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/detkit.dir/detector.cpp.o
build/CMakeFiles/detkit.dir/detector.cpp.o.d
build/CMakeFiles/detkit.dir/flags.make
build/CMakeFiles/detkit.dir/nano_test.cpp.o
build/CMakeFiles/detkit.dir/nano_test.cpp.o.d
build/CMakeFiles/detkit.dir/nanodet.cpp.o
build/CMakeFiles/detkit.dir/nanodet.cpp.o.d
build/CMakeFiles/detkit.dir/vision.cpp.o
build/CMakeFiles/detkit.dir/vision.cpp.o.d
config/nanodet-plus-m_416-int8.json
